<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>alfred.workflow.coder.pi.RMClient</string>
	<key>connections</key>
	<dict>
		<key>096219BF-7AC6-40B1-AF0D-12CAFAA275B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59F9BF51-0B9F-488F-94F3-A83F3D5BF376</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3568F9D9-F12D-4DB1-B0CB-19543C0828B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4B6398E1-0393-49A0-9925-901C6B4DD9BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4B6398E1-0393-49A0-9925-901C6B4DD9BA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>553E7B4A-3E16-4B9E-BF66-BF483E9AF5AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59F9BF51-0B9F-488F-94F3-A83F3D5BF376</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF5FCA0E-1B74-4BC3-9B63-36A8902E8F82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>64C4A495-D4C3-4104-BBBD-A17CA035A249</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF5FCA0E-1B74-4BC3-9B63-36A8902E8F82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7AD1528F-2AC2-4BAB-AC70-77879D43F15C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB023E3F-1CE3-4531-BB49-490F412AF0E5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CB3231B-D9E3-47C0-B6A0-C4AB80AC1578</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDE2AAB5-684D-4EFC-A47B-942CC6630628</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>64C4A495-D4C3-4104-BBBD-A17CA035A249</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98898800-A961-40FB-BE4E-F18044637735</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3568F9D9-F12D-4DB1-B0CB-19543C0828B1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFEB4834-67B2-422D-AF06-2F1942751D5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CB3231B-D9E3-47C0-B6A0-C4AB80AC1578</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>096219BF-7AC6-40B1-AF0D-12CAFAA275B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF5ADC86-7658-44B1-880A-80AFDB9FA632</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7AD1528F-2AC2-4BAB-AC70-77879D43F15C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDE2AAB5-684D-4EFC-A47B-942CC6630628</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF5FCA0E-1B74-4BC3-9B63-36A8902E8F82</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB023E3F-1CE3-4531-BB49-490F412AF0E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>553E7B4A-3E16-4B9E-BF66-BF483E9AF5AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF5FCA0E-1B74-4BC3-9B63-36A8902E8F82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF5ADC86-7658-44B1-880A-80AFDB9FA632</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98898800-A961-40FB-BE4E-F18044637735</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>coder.pi</string>
	<key>description</key>
	<string>Redmine Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>RMClient</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo '[I]正在初始化，请稍后...'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CDE2AAB5-684D-4EFC-A47B-942CC6630628</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>npm install &amp;&gt;/dev/null
echo '[I]初始化成功，请登录'
node ./index.js login</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>64C4A495-D4C3-4104-BBBD-A17CA035A249</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>NPM_INSTALL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8CB3231B-D9E3-47C0-B6A0-C4AB80AC1578</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>[W]</string>
				<key>replacestring</key>
				<string> </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>EB023E3F-1CE3-4531-BB49-490F412AF0E5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>RMClient-警告</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7AD1528F-2AC2-4BAB-AC70-77879D43F15C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>\[W\]</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BF5ADC86-7658-44B1-880A-80AFDB9FA632</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>{var:title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>553E7B4A-3E16-4B9E-BF66-BF483E9AF5AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>rm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>if [ -e ./node_modules ]; then
node ./index.js $1
else
cat &lt;&lt;EOB
{
	"items": [{
		"title": "初始化项目",
		"subtitle": "npm install .",
		"arg": "NPM_INSTALL",
		"icon": "Icon.png",
		"valid": true
	}]
}
EOB
fi
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Redmine工具</string>
				<key>title</key>
				<string>Redmine工具</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AFEB4834-67B2-422D-AF06-2F1942751D5D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>FF5FCA0E-1B74-4BC3-9B63-36A8902E8F82</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>NPM_INSTALL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>096219BF-7AC6-40B1-AF0D-12CAFAA275B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>[I]</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>4B6398E1-0393-49A0-9925-901C6B4DD9BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>\[I\]</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>98898800-A961-40FB-BE4E-F18044637735</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>title</key>
					<string>RMClient-提示</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3568F9D9-F12D-4DB1-B0CB-19543C0828B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>node ./index.js $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>59F9BF51-0B9F-488F-94F3-A83F3D5BF376</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Redmine小工具
功能：
1.查看自己在Redmine上的任务
2.修改任务的进度和状态
3.记录工时
4.创建任务</string>
	<key>uidata</key>
	<dict>
		<key>096219BF-7AC6-40B1-AF0D-12CAFAA275B4</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>3568F9D9-F12D-4DB1-B0CB-19543C0828B1</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>4B6398E1-0393-49A0-9925-901C6B4DD9BA</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>553E7B4A-3E16-4B9E-BF66-BF483E9AF5AA</key>
		<dict>
			<key>xpos</key>
			<integer>1080</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>59F9BF51-0B9F-488F-94F3-A83F3D5BF376</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>64C4A495-D4C3-4104-BBBD-A17CA035A249</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>7AD1528F-2AC2-4BAB-AC70-77879D43F15C</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>8CB3231B-D9E3-47C0-B6A0-C4AB80AC1578</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>98898800-A961-40FB-BE4E-F18044637735</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>AFEB4834-67B2-422D-AF06-2F1942751D5D</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>BF5ADC86-7658-44B1-880A-80AFDB9FA632</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>CDE2AAB5-684D-4EFC-A47B-942CC6630628</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>EB023E3F-1CE3-4531-BB49-490F412AF0E5</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>FF5FCA0E-1B74-4BC3-9B63-36A8902E8F82</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://coderpif.github.io</string>
</dict>
</plist>
